body{
 background-color: ##F9FAFC;
}
.left-sidebar {
 background-color: #749EFF;
 left:0;
 top:0;
 width:60px;
 height:100%;
 margin-left:0px;
 z-index: 1000;
 position: fixed;
box-shadow:2px 9px 8px #afafafd1;
}

.top-nav {
margin-top:0px;
margin-left:0px;
margin-right:0px;
background-color: white;
top:0;
height:60px;
position: sticky;
}
input[type=text]{
  border:none;
  height:30px;
   background: transparent;
padding-left:30px;
}

#bu{
margin-left: 150px;
height: 20px;
background-color: white;
border: none;

}
.search{
margin-left: 10px;
   margin-top: 10px;
}
.search-icon{

color:grey;
}
.notification{
padding-top:10px;
padding-right: 200px;
border:none;
float:right;
background: transparent;
background-color: white;

}
.fa-headphones{
font-size:28px;
color:white;
}
.fa-bell-o{
border:none;
float:right;
background: transparent;
background-color: white;
font-size:15px;
}
.left-sidebar a button{
 height:50px;
 width:60px;
 padding-left:10px;	
 border:none;
background-color: #749EFF;
}
.left-sidebar .fa-square-o  {

font-size:30px;
color:white;
 background-color: #749EFF;
}	
.fa-google{
 color:white;
 font-size:28px;
}
.fa-align-left{
color:white;
 font-size:20px;
}
.fa-th-large {
 
 color:white;
 background-color: #749EFF;
 font-size:28px;
}

.content > .fa-square-o{
font-size:30px;
color:white;
 background-color: #749EFF;
}
.fa-list-alt{
font-size:30px;
color:white;
}
.section-2{
margin-top: 100px;
margin-left: 50px;
margin-right: 0px;
background-color: #F9FAFC;
height: 100%;

}

.content{
margin-left:100px;
margin-right:50px;
height:80px;
background-color: white;
}
.content > button{

font-size:75px;
}



.button1 {
  margin-left: 550px;
    margin-top: -40px;

    border-radius: 20px;
    height: 50px;
    background-color: #749EFF;
    color: white;
    width: 200px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 17px;
}

.v-centered{
 vertical-align:center;
}

.right-sidebar {
 background-color:white;
 right:0;
 width:250px;
 height:100%;
 margin-right:5px;
 position:fixed
}
.v-centered {
 vertical-align:center;
}
.cards{
margin-left:80px;
margin-right:0px;
height:100%;

}
.card1 {
    width: 200px;
    padding: 10px;
    margin-left:10px;

}
.card2 {
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
width: 200px;
padding: 10px;
margin-left:60px;

}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

* {
    box-sizing: border-box;
}
.column1 {
margin-right:0px;
    position: relative;
    margin-right: -50;
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px;
    margin-left: 40px;/* Should be removed. Only for demonstration */
}

.column2 {
margin-left:140px;
margin-right:0px;
    position: relative;
    margin-right: -50;
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px;
    margin-left: 40px;/* Should be removed. Only for demonstration */
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
